<section class="hero">
  <div class="hero-body is-flex is-horizontal-center">
    <div class="card animate__animated animate__bounceInRight">
      <header class="card-header">
        <a href="/post/<%= @image_name %>">
          <figure class="image">
            <img src="<%= image_path "photos/#{@image_name}.png" %>" alt="<%= t('alts.photoshop_camera_photo', image_name: @image_name) %>">
          </figure>
        </a>
      </header>
    </div>
  </div>
</section>
<section class="section">
  <div class="columns is-multiline is-mobile">
    <%- ['fish', 'mercedes', 'plumjam', 'cx5', 'cabbage', 'pringlesky', 'echoroad', 'houses', 'firebridge', 'artbridge', 'echobridge', 'glitchbridge'].each do |image_name| -%>
    <div class="column is-1-tablet is-3-mobile">
      <div class="card on-hover-expand-2x">
        <header class="card-header">
          <a href="/post/<%= image_name %>">
            <figure class="image">
              <img src="<%= image_path "photos/#{image_name}.png" %>" alt="<%= t('alts.photoshop_camera_photo', image_name: image_name) %>">
            </figure>
          </a>
        </header>
      </div>
    </div>
    <%- end -%>
  </div>
</section>
<section class="section">
  <nav class="is-flex is-horizontal-center">
    <%= link_to :root do %>
    <figure class="image is-64x64 is-border-lighter-2px is-border-radius-100percent has-background-transparent">
      <img class="is-rounded" src="<%= image_path 'photo-of-paulmwatson.jpg' %>" alt="<%= t('alts.photo_of_paulmwatson') %>">
      <div class="is-shadow-inset is-border-radius-100percent " aria-hidden="true"></div>
    </figure>
    <%- end -%>
  </nav>
</section>