<!DOCTYPE html>
<!-- <%= t('source_code_welcome')%> -->
<html lang="<%= I18n.locale %>">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= t('site.title') %></title>
  <meta name="description" content="<%= t('site.description') %>">

  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>
  <%= yield %>
</body>

</html>